# No .pyc files
*.pyc

# No .so, .c or .nfs files
*.o
*.so
*.c
*.cpp
*.nfs*

# annotated files
tofu/geom/*.html

# No images
#*.png

# Mac stuff
*.AppleDouble
.DS_Store
._.DS_Store

# No files finishing with a tilde
*~

# No jobs
job_*

# No Nextupdate
NextUpdate*

# No swap files
*.swp

# No plugins
tofu/plugins/
tofu/geom/build/
./conda-bld
conda-bld/
dist/
tofu.egg-info/
build/

# Tex files
*.aux
*.log

# coverage output
.coverage

# Include travis
!.travis.yml

# no precommit configurations
.pre-commit-config.yaml

# installation dir
usr/

# no PyCharm config files
.idea/

# do not commit sphinx built files
doc/build/html/

# do not commit built compiled files on windows
*.pyd

# do not commit sphinx-gallery files
doc/source/auto_examples/

# do not commit nose tests files
*.noseids
