language: python
jobs:
  include:
  - name: Bionic python 3.7
    os: linux
    dist: bionic
    python: 3.7
    env:
    - REPO=https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
    - OS=linux-64
  - name: trusty python 3.6
    os: linux
    dist: trusty
    python: 3.6
    env:
    - REPO=https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
    - OS=linux-64
  - name: xenial python 3.7
    os: linux
    dist: xenial
    python: 3.7
    if: branch = master OR branch = devel
    env:
    - REPO=https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
    - OS=linux-64
  - name: xenial python 3.6
    os: linux
    dist: xenial
    python: 3.6
    if: branch = master OR branch = devel
    env:
    - REPO=https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
    - OS=linux-64
  - name: osx python 3.7
    os: osx
    language: generic
    if: branch = master OR branch = devel
    env:
    - REPO=https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    - TRAVIS_PYTHON_VERSION=3.7
    - OS=osx-64
  - name: osx python 3.6
    os: osx
    language: generic
    if: branch = master OR branch = devel
    env:
    - REPO=https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
    - TRAVIS_PYTHON_VERSION=3.6
    - OS=osx-64

env:
    global:
      - MPLBACKEND=agg

before_install:
    - gcc --version
    - export START=$(pwd)

install:
- wget "$REPO" -O miniconda.sh
- bash miniconda.sh -b -p $HOME/miniconda
- export PATH="$HOME/miniconda/bin:$PATH"
- hash -r
- conda config --set always_yes yes --set changeps1 no
- conda config --append channels conda-forge
- conda config --append channels tofuproject
- conda info -a
- conda install -q python="$TRAVIS_PYTHON_VERSION" conda-verify coverage codecov
- pip install pytest
- export REV=$(python -c "import _updateversion as up; out=up.updateversion(); print(out)")
- export VERSION=$(echo $REV | tr - .)
- echo $REV
- pip install -e ".[dev]"
- export IS_MASTER=$(git ls-remote origin | grep "$TRAVIS_COMMIT\s\+refs/heads/master$" | grep -o "master")
- export IS_DEPLOY=$(git ls-remote origin | grep "$TRAVIS_COMMIT\s\+refs/heads/deploy-test$" | grep -o "deploy-test")
- echo $TRAVIS_COMMIT
- echo $IS_MASTER
- echo $IS_DEPLOY

script:
- coverage run --source=tofu/ -m pytest tofu/tests -v --durations=10
- coverage report
- coverage html
- tofu-version
- tofu-custom
- tofu --version
- tofu custom

after_success:
- codecov
- chmod +x $START/anaconda_upload.sh
- echo $TRAVIS_TAG

before_deploy:
  - >
    if ! [ "$BEFORE_DEPLOY_RUN" ]; then
      export BEFORE_DEPLOY_RUN=1;
      echo "BEFORE DEPLOY START........"
      ls $START
      cd $START
      echo "BEFORE DEPLOY END.........."
    fi
deploy:
  - provider: pypi
    distributions: sdist
    username: __token__
    skip_existing: true
    on:
      tags: true
      condition: $IS_DEPLOY = "deploy-test"
    server: https://test.pypi.org/legacy/
    password:
      secure: xfVFuoz9YYNChzmT8DC9y+8eH6zdFkfoy3B51uqy8b+vhJNzCzLay4F0uSHvhHy6iYorM6UQKr6soC4D7n3PhmnFOTX/cgLtd/p4gBWGYZF6yXacvw+UHKMshgbAhn2sEynxdSAqdAlNttMI8jsUu9RhbzGiv1l5zSNnFWF4Zsly02G68UnztxIGoz8AYTRW2N2oQhGrl/ryj/YG4mSRKjled6BzK7kNoJUqLGl12DqdMMTEmdJ9NHBXgK3Dv0ya17ReFz3TcxE/4+Yc38NwSR4Ia2EvVSMtyIaccQ1uSrXwW8JQOMn+9CmDWZVUMDD2bzKYbm2WGGM9Fh8WrHnwlWRujoLDofhYEK0Cus11gULFF+J88XucOJlyJNrHP6TWxdSVVoQfwWr2ABqZIvilsvHpF+sjDLqomTNHdi+BbzP2koRv0nJb9K1W24bjPLtSK8+plX7suv7gdBNwlsJ+dPLDM87v4+jGHGthQ6P4X2guTMHZm1PU0PSPB9LCbENCN1uktLLhkgx7gZ42Ag+Jwiu02ENkChLaEB4WpPb9mjLnomu5LDYXFGtPJ/uLMOi3VCXyda0LrzqDhXYT3Cg4hvXySwJcgMYSXalfTxnTm9oouePiEXDbK+XwjMP9mjC5CeMg3SaFFTywqaTH0WUqiOBUJ6H3Gsm0sB15Tj4lNKQ=
  - provider: pypi
    distributions: bdist_wheel
    username: __token__
    skip_existing: true
    on:
      tags: true
      condition: $IS_DEPLOY = "deploy-test" && $OS = osx-64
    server: https://test.pypi.org/legacy/
    password:
      secure: xfVFuoz9YYNChzmT8DC9y+8eH6zdFkfoy3B51uqy8b+vhJNzCzLay4F0uSHvhHy6iYorM6UQKr6soC4D7n3PhmnFOTX/cgLtd/p4gBWGYZF6yXacvw+UHKMshgbAhn2sEynxdSAqdAlNttMI8jsUu9RhbzGiv1l5zSNnFWF4Zsly02G68UnztxIGoz8AYTRW2N2oQhGrl/ryj/YG4mSRKjled6BzK7kNoJUqLGl12DqdMMTEmdJ9NHBXgK3Dv0ya17ReFz3TcxE/4+Yc38NwSR4Ia2EvVSMtyIaccQ1uSrXwW8JQOMn+9CmDWZVUMDD2bzKYbm2WGGM9Fh8WrHnwlWRujoLDofhYEK0Cus11gULFF+J88XucOJlyJNrHP6TWxdSVVoQfwWr2ABqZIvilsvHpF+sjDLqomTNHdi+BbzP2koRv0nJb9K1W24bjPLtSK8+plX7suv7gdBNwlsJ+dPLDM87v4+jGHGthQ6P4X2guTMHZm1PU0PSPB9LCbENCN1uktLLhkgx7gZ42Ag+Jwiu02ENkChLaEB4WpPb9mjLnomu5LDYXFGtPJ/uLMOi3VCXyda0LrzqDhXYT3Cg4hvXySwJcgMYSXalfTxnTm9oouePiEXDbK+XwjMP9mjC5CeMg3SaFFTywqaTH0WUqiOBUJ6H3Gsm0sB15Tj4lNKQ=
  - provider: pypi
    distributions: sdist
    username: "Didou09"
    skip_existing: true
    on:
      tags: true
      condition: $IS_MASTER = "master"
    password:
      secure: JNEDTDJVx/2fXNfHntNQ99iDRNuQ4uB3y+DBWVIBycCT95+UCb36YPtKzmruEk/UUS29Xgq4IYCGdfCSWE9smKqG8tV1PcHiw705m+AzcpKy77YtzbVECFBxqY4W36O2pHrkwEUzP/7acjFwNsnUFzArqEzsBJ+KdLaa4OPHJXCh30GA0GyqlrXYbBKG+DA9hX5vtsGo4C6w9noALYF3fS7pKPiI6ipKFnAlzGgHQ7Ke0uQME8N3IAFhmh+Z5xMtIIDWxlnqv+KszdG4DIaGV/W6NIJNAbRhzkqUd+Chu6LoPAd/XkHDTeirR/MBkNUc5UcRJxRnP9rUTRo1gCO/buTYuNRgFkMvqhV5a033+x9edWgtUiKNJIMPLXOxe0RJvc5GWji+Co77HtHxRmGRM2rnYqWMtZeYZlFbUdvHu/8jf0d6I8jyUgAoJYdlMA2u/ipENP3S6by4epE9qycUPXiIVh6r3DZbf3vPTMFvTZYAjBrA0NOzihv1xgcXwemmNUFOQSpe0io4UcFxtS9lLMo+30UMQjCHSnbEVM3zSlZmbMOKpkVOlKlt8Lz5NxwVgWtu9FuW2pGukLtE8AWbqvY9urXAPZCQqZlOIklIjJQIqOITnuw9LEV09cgvPHXfdvNni3ldbMlIQ89zryM6dYvhYryTiEZGK4JDR3wAKJA=
  - provider: pypi
    distributions: bdist_wheel
    username: "Didou09"
    skip_existing: true
    on:
      condition: $IS_MASTER = "master" && $OS = osx-64
      tags: true
    password:
      secure: JNEDTDJVx/2fXNfHntNQ99iDRNuQ4uB3y+DBWVIBycCT95+UCb36YPtKzmruEk/UUS29Xgq4IYCGdfCSWE9smKqG8tV1PcHiw705m+AzcpKy77YtzbVECFBxqY4W36O2pHrkwEUzP/7acjFwNsnUFzArqEzsBJ+KdLaa4OPHJXCh30GA0GyqlrXYbBKG+DA9hX5vtsGo4C6w9noALYF3fS7pKPiI6ipKFnAlzGgHQ7Ke0uQME8N3IAFhmh+Z5xMtIIDWxlnqv+KszdG4DIaGV/W6NIJNAbRhzkqUd+Chu6LoPAd/XkHDTeirR/MBkNUc5UcRJxRnP9rUTRo1gCO/buTYuNRgFkMvqhV5a033+x9edWgtUiKNJIMPLXOxe0RJvc5GWji+Co77HtHxRmGRM2rnYqWMtZeYZlFbUdvHu/8jf0d6I8jyUgAoJYdlMA2u/ipENP3S6by4epE9qycUPXiIVh6r3DZbf3vPTMFvTZYAjBrA0NOzihv1xgcXwemmNUFOQSpe0io4UcFxtS9lLMo+30UMQjCHSnbEVM3zSlZmbMOKpkVOlKlt8Lz5NxwVgWtu9FuW2pGukLtE8AWbqvY9urXAPZCQqZlOIklIjJQIqOITnuw9LEV09cgvPHXfdvNni3ldbMlIQ89zryM6dYvhYryTiEZGK4JDR3wAKJA=
  - provider: script
    script: $START/anaconda_upload.sh
    on:
      tags: true
      condition: $IS_MASTER = "master"
