# all files to be included

include MANIFEST.in
include LICENSE.txt
include pyproject.toml
include _updateversion.py
recursive-include tofu/geom *.pxd
recursive-include tofu/geom/inputs *.txt
recursive-include tofu/spectro *.txt
recursive-include tofu/tests/tests01_geom/test_data *.txt
recursive-include tofu/tests/tests01_geom/test_data *.npz
recursive-include tofu/tests/tests01_geom/test_data *.svg
recursive-include tofu/tests/tests04_spectro/test_data *.npz
recursive-include tofu/tests/tests06_mesh/test_data *.txt
recursive-include tofu/tests/tests06_mesh/test_data *.npz
recursive-include tofu/mag/mag_ripple *.sh
recursive-include tofu/mag/mag_ripple *.f
