[build-system]
requires = ["setuptools", "setuptools_scm", "cython", "numpy"]
build-backend = "setuptools.build_meta"


[tool.setuptools]
packages = ["tofu", "tofu.tests"]
ext-modules = [
  {
    name="tofu.geom._GG",
    sources=["tofu/geom/_GG.pyx"],
    language_level="3",
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._basic_geom_tools",
    sources=["tofu/geom/_basic_geom_tools.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._distance_tools",
    sources=["tofu/geom/_distance_tools.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._sampling_tools",
    sources=["tofu/geom/_sampling_tools.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._raytracing_tools",
    sources=["tofu/geom/_raytracing_tools.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._vignetting_tools",
    sources=["tofu/geom/_vignetting_tools.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._chained_list",
    sources=["tofu/geom/_chained_list.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._sorted_set",
    sources=["tofu/geom/_sorted_set.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
  },
  {
    name="tofu.geom._openmp_tools",
    sources=["tofu/geom/_openmp_tools.pyx"],
    extra_compile_args=["-O3", "-Wall", "-fno-wrapv"],
    extra_link_args=[],
    # cython_compile_time_env=dict(TOFU_OPENMP_ENABLED=openmp_installed),
  },
]


[tool.setuptools_scm]
version_file = "tofu/_version.py"


[tool.setuptools.dynamic]
classifiers = {file = ["CLASSIFIERS.txt"]}


[project]
name = "tofu"
readme = "README.md"
license = "MIT"
dynamic = ["version", "classifiers"]
description = "TOmography for FUsion toolkit"
authors = [
    {name = "Didier VEZINET", email = "didier.vezinet@gmail.com"},
]
maintainers = [
    {name = "Didier VEZINET", email = "didier.vezinet@gmail.com"},
]
keywords = [
    "tomography", "fusion", "synthetic diagnostic", "diagnostic design", 
]
requires-python = ">=3.8"
dependencies = [
    "numpy<1.25",  # for astropy compatibility vs deprecated np.product
    "scipy",
    "matplotlib",
    # "PySide2 ; platform_system != 'Windows'",
    "spectrally",
]


[project.urls]
Homepage = "https://github.com/ToFuProject/tofu"
Issues = "https://github.com/ToFuProject/tofu/issues"


[project.entry-points."tofu"]
tofu = "scripts.main:main"


[dependency-groups]
dev = [
	"pytest",
]


[project.optional-dependencies]
linting = [
  'ruff'
]
formatting = [
  'ruff'
]
