####### Requirements without Version Specifiers #######
numpy
scipy
# scikit-sparse    does not work on windows, and requires "apt/brew install libsuitesparse-dev/suite-sparse" on linux / MacOs 
scikit-umfpack
matplotlib
requests

######## Requirements with Version Specifier ########
Cython>=0.26
