####### Requirements without Version Specifiers #######
scipy
numpy
# scikit-sparse    # does not work on windows, and requires "apt/brew install libsuitesparse-dev/suite-sparse" on linux / MacOs
# scikit-umfpack   # similar issue
setuptools!=65.*,!=74.*
matplotlib
contourpy
requests
svg.path
Polygon3

######## Requirements with Version Specifier ########
spectrally>=0.0.4
Cython>=0.26