####### Requirements without Version Specifiers #######
scipy
numpy
# scikit-sparse    # does not work on windows, and requires "apt/brew install libsuitesparse-dev/suite-sparse" on linux / MacOs
# scikit-umfpack   # similar issue
setuptools>=40.8.0, <64
matplotlib
contourpy
requests
svg.path
Polygon3

######## Requirements with Version Specifier ########
datastock>=0.0.47
bsplines2d>=0.0.20
spectrally>=0.0.9
Cython>=0.26
