name: uv publish sdist to PyPI

on:
  release:
    types:
      [created]
  push:
    branches:
      - master
      - deploy-test

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    
      # git checkout
    - name: git checkout
      uses: actions/checkout@v5
      with:
        # https://github.com/marketplace/actions/checkout#usage
        fetch-depth: 0   # to fetch all history from all branches
        fetch-tags: true

    # Install uv
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
          python-version: 3.11

    # Build dist
    - name: Build the project
      run: |
        uv build --sdist

    - name: Publish sdist to PyPI
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        uv publish
