name: Ubuntu, py 3.8, pip

on:
  push:
    branches-ignore:
      - master
      - devel
      - deploy-test
  pull_request:
    branches-ignore:
      - master
      - devel
      - deploy-test
jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
    steps:

    # Install latex
    - name: Install latex for matplotlib
      run: |
          sudo apt-get install texlive texlive-latex-extra texlive-fonts-recommended dvipng cm-super
          pip install latex

    # git checkout
    - uses: actions/checkout@v4

    # Install uv
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
          python-version: 3.11

    # Install dependencies
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install flake8 pytest coverage wheel
        pip install -r requirements.txt # fix

    # Lint ?
    
    # Install tofu
    - name: install tofu
      run: |
        pip install -e ".[dev]" --no-build-isolation

    # Run tests
    - name: Test with pytest and coverage
      run: |
          coverage run --source=tofu/ -m pytest tofu/tests -x -v --durations=10
