name: Complete testing matrix

on:
  push:
    branches: [ devel, master ]
  pull_request:
    branches: [ devel, master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]    # , windows-latest
        python-version: ['3.8', '3.9', '3.10', '3.11']
        exclude:
          - python-version: ['3.11']
            os: windows-latest

    steps:
    - name: Install latex for matplotlib
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get install texlive texlive-latex-extra texlive-fonts-recommended dvipng cm-super
          pip install latex
        elif [ "$RUNNER_OS" == "macOS" ]; then
          sudo apt-get install texlive texlive-latex-extra texlive-fonts-recommended dvipng cm-super
          pip install latex
          # brew install --cask mactex
        else
          echo "$RUNNER_OS not supported"
          exit 1
        fi
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
         curl -X PURGE https://pypi.org/simple/datastock/
         curl -X PURGE https://pypi.org/simple/bsplines2d/
         curl -X PURGE https://pypi.org/simple/spectrally/
         pip install --upgrade pip
         pip install flake8 pytest coverage wheel
         pip install -r requirements.txt --no-cache
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        # flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 . --count --select=E9,F63,F7 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: install tofu
      run: |
        python -c "import setuptools; print(f'\nsetuptools version = {setuptools.__version__}\n')"
        pip install -e ".[dev]" --no-build-isolation
    - name: Test with pytest and coverage
      run: |
              coverage run --source=tofu/ -m pytest tofu/tests -v -x --durations=10
